.nav{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    background-color: rgb(182, 219, 252);
    flex-direction: row; 
    line-height: 40px;
}
.nav div{
    margin-left:50px;
 
}
.nav .button{
    background-color: crimson;
    border: none;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 30px;
    color:whitesmoke;
}
body{
    margin: 0px;
}

